body{
            background-image: url('images/Space.png');
            
            /* Faz a imagem cobrir toda a tela */
            background-size: cover;
            
            /* Centraliza a imagem na tela */
            background-position: center;
            
            /* Impede que a imagem se repita */
            background-attachment: fixed         
}

h1{
    font-size: 3rem;




} 